<div *ngIf="!mostrar">
  <div class="container">
    <label for="boton">Obtener todos los usuarios de CocherasUTN</label>
    <br>
    <br>
    <button type="button" id="boton" class="btn btn-primary" (click)="transformarMostrar()">Get</button>
  </div>
</div>

<div *ngIf="mostrar" class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Dni</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col">Vehicles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.dni}}</td>
        <td>{{user.address}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone_number}}</td>
        <td>
          <ul>
            <li *ngFor="let vehicle of user.vehicles">
              {{vehicle.license_plate}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <button type="button" id="boton" class="btn btn-primary" (click)="transformarMostrar()">Volver</button>
</div>