@if (mostrar == false && mostrar3 == true) {
  <div class="container">
    <label for="boton">Obtener todos los usuarios de CocherasUTN</label>
    <button type="button" id="boton" class="btn btn-primary" (click)="transformarMostrar()">Get</button>
  </div>
 }


@if (mostrar2 == false && mostrar3 == true) {
  <div class="container">
    <label for="boton">Crear usuario</label>
    <button type="button" id="boton" class="btn btn-primary" (click)="transformarMostrar2()">Get</button>
  </div>
}


@if (mostrar == true && mostrar3 == false) {
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Dni</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col">Vehicles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.dni}}</td>
        <td>{{user.address}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone_number}}</td>
        <td>
          <ul>
            <li *ngFor="let vehicle of user.vehicles">
              {{vehicle.license_plate}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <button type="button" id="boton" class="btn btn-primary" (click)="transformarMostrar()">Volver</button>
}

@if (mostrar2) {

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Last Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="DNI" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="address" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="email" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Phone Number" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Vehicles (este va a tener q cambiarse)" aria-label="Recipient's username" aria-describedby="basic-addon2">
  </div>
  

  <br>
  <br>
  <button type="button" id="boton" class="btn btn-primary" (click)="transformarMostrar2()">Volver</button>

}

