<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" [ngClass]="{active: menuOption == 'home'}"(click)="onOption('home')">ParkEasy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="login" id="login" [ngClass]="{active: menuOption == 'login'}" 
            (click)="onOption('login')">Login</a>
       </li>
        <li class="nav-item">
           <a class="nav-link" routerLink="users" [ngClass]="{active: menuOption == 'users'}" 
             (click)="onOption('users')">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vehicles" [ngClass]="{active: menuOption == 'vehicles'}" 
            (click)="onOption('vehicles')">Vehicles</a>
       </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="garages" [ngClass]="{active: menuOption == 'garages'}" 
          (click)="onOption('garages')">Garages</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="locations" [ngClass]="{active: menuOption == 'locations'}" 
        (click)="onOption('locations')">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="typeVehicles" [ngClass]="{active: menuOption == 'typeVehicles'}" 
          (click)="onOption('typeVehicles')">TypeVehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="parkingSpace" [ngClass]="{active: menuOption == 'parkingSpace'}" 
          (click)="onOption('parkingSpace')">ParkingSpace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reservationTypes" [ngClass]="{active: menuOption == 'reservationTypes'}" 
          (click)="onOption('reservationTypes')">ReservationTypes</a>
      </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>