/* Reseteo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html y body ocupan toda la altura del navegador */
html, body {
    height: 100%;
}


.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), 
                      url('/assets/fondo-parking.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh; /* Hace que esta sección cubra la altura de la ventana (ver si lo ponemos mas chico)*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contenido {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.contenido h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contenido p {
    font-size: 1.2em;
    line-height: 1.5;
}

h1 {
    font-size: 3em;
}


.contacto {
    background-color: #111;
    color: white;
    padding:80px 20px 40px 20px;
    text-align: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.icon-circle {
    width: 60px; height: 60px;
    border: 2px solid white;
    border-radius: 50%; /* Círculo alrededor del icono */
    display: flex; align-items: center; justify-content: center;
    margin-bottom: 15px;
}

.icon-circle i { font-size: 30px; }

.footer-logo h3 {
    letter-spacing: 4px; 
    font-size: 1.2rem;
    font-weight: 400;
}

.contact-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; /* Para que baje en celulares */
    margin-top: 30px;
}

/* Botones Outline (Borde Blanco) */
.btn-outline-custom {
    border: 1px solid rgba(255,255,255,0.8);
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-outline-custom:hover {
    background-color: white;
    color: #111; /* Texto negro al pasar el mouse */
    border-color: white;
}

.copyright { opacity: 0.5; }

.info-seccion h4 {
    margin-top: 10px;
    font-weight: bold;
}

.info-seccion p {
    color: #555;
}

.ubicacion {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

/* Estilo para el mapa */
#map {
    width: 100%;
    border-radius: 10px;
}

.hero {
    position: relative;
}

/* Texto de la izquierda */
.hero-content {
    z-index: 2;
    text-align: center;
}

/* Panel flotante de acciones */
.hero-actions {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 2;

    background: rgba(0, 0, 0, 0.75);
    padding: 30px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 240px;
}

.hero-cta-btn {
  margin-top: 30px;
  padding: 16px 42px;
  border-radius: 999px;
  background: #b8c073;
  color: rgba(34, 30, 30, 0.856);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

/* Hover */
.hero-cta-btn:hover {
  background: #000;
  transform: translateY(-3px);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.45);
}