<div class="table-responsive"> <!-- Hace la tabla adaptable a dispositivos móviles -->
    <table class="table table-striped table-hover table-bordered"> <!-- Estilos de tabla con Bootstrap -->
      <thead class="thead-dark"> <!-- Encabezado oscuro para mayor contraste -->
        <tr>
          <th scope="col">Hora Realizada</th>
          <th scope="col">Hora de llegada</th>
          <th scope="col">Hora de salida</th>
          <th scope="col">Estado</th>
          <th scope="col">Monto</th>
          <th scope="col">Patente</th>
          <th scope="col">Garage</th>
          <th scope="col">Parking Space</th>
          <th scope="col">Acciones</th> <!-- Columna adicional para los botones de acción -->
        </tr>
      </thead>
        <tbody>
        <tr *ngIf="userReservations.length === 0">
        <td colspan="9">No se encuentran reservas para dar de baja</td> 
      </tr>
        <tr *ngFor="let reservation of userReservations; let i = index">
          <td>{{ reservation.date_time_reservation | date: 'dd/MM/yyyy, h:mm a' }}</td>
          <td>{{ reservation.check_in_at | date: 'dd/MM/yyyy, h:mm a' }}</td>
          <td>{{ reservation.check_out_at | date: 'dd/MM/yyyy, h:mm a' }}</td>
          <td>{{reservation.estado}}</td>
          <td>{{reservation.amount}}</td>
          <td>{{reservation.vehicle}}</td>
          <td>{{reservation.garage}}</td>
          <td>{{reservation.parkingSpace.number}}</td>
          <td>
            <div class="d-flex justify-content-around"> 
              <button type="button" class="btn btn-danger btn-sm" (click)="updateReservation(reservation, true)">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  